# High Performance Python

### Activity 3

### Part 2 Lists and Tuples

8. In some cases, it is necessary to efficiently perform insertion or removal of elements both at the beginning and at the end of the collection. Measure the time for the following operations with N = 10000, 20000 y 30000 elements:
- Delete lastelement of a list via pop()
- Delete firstelement of a list via pop(0)
- Append 1 at the end of the list.
- Insert 1 at the beginningof the list insert(0, 1)

Make a tablewith your results. It should looks like table on Chapter 2: Pure Python Optimization (pp. 38) from the book G. Lenaro (2017). Python high Performance. Second Edition. UK: Packt Publishing Ltd.

In [2]:
import pandas as pd
import timeit

In [8]:
size = [10_000, 20_000, 30_000]
operations = {
    "list.pop()" : 'lst.pop()',
    "list.pop(0)" : 'lst.pop(0)',
    "list.append(1)" : 'lst.append(1)',
    "list.insert(0, 1)" : 'lst.insert(0, 1)',
}

results = {op: [] for op in operations}

for _ in size:
    for operation, function in operations.items():
        lst_code = f"lst = list(range({_}))"
        time = timeit.timeit(stmt=function, setup=lst_code, number=1000)
        time /= 1000 * 1e6  

        results[operation].append(time)


df = pd.DataFrame(results, index=[n for n in size])

trans = df.transpose()

trans.head()

                          10000         20000         30000
list.pop()         5.340000e-14  2.770000e-14  2.610000e-14
list.pop(0)        2.005850e-11  4.111530e-11  6.279310e-11
list.append(1)     5.440000e-14  2.740000e-14  1.355000e-13
list.insert(0, 1)  3.137100e-12  6.196300e-12  8.967500e-12

9. Python provides a data structure with interesting properties in the collection.deque
class. The word deque stands for double-ended queue because this data structure
is designed to efficiently put and remove elements at the beginning and at the end
of the collection. Evaluate the following methods with N = 10 000, 20 000 and 30
000 elements:
- deque.pop()
- deque.popleft()
- deque.append(1)
- deque.appendleft(1)

Make a table with your results. It should looks like table on pp. 39 on the same book
as previous task.

In [9]:
operations = {
    'deque.pop()': 'dq.pop()',
    'deque.popleft': 'dq.popleft()',
    'deque.append(1)': 'dq.append(1)',
    'deque.appendleft(1)': 'dq.appendleft(1)'
}

results = {op: [] for op in operations}

for _ in size:
    for operation, function in operations.items():
        dq_code = f"from collections import deque\n" \
                   f"dq = deque(range({_}))"
        time = timeit.timeit(stmt=function, setup=dq_code, number=1000)
        time /= 1000 * 1e6

        results[operation].append(time)

df = pd.DataFrame(results, index=[n for n in size])

trans = df.transpose()
trans.head()

                            10000         20000         30000
deque.pop()          3.480000e-14  2.420000e-14  2.480000e-14
deque.popleft        3.690000e-14  2.460000e-14  2.310000e-14
deque.append(1)      2.660000e-14  4.000000e-14  1.195000e-13
deque.appendleft(1)  2.470000e-14  3.450000e-14  3.430000e-14

10. The efficiency gained by the appendleft and popleft comes at a cost: accesing an
element in the middle of a deque is a O(N) operation. Evaluate the time for the next
operations with with N = 10 000, 20 000 and 30 000 elements:
- deque[0]
- deque[N-1]
- deque[int(N/2)]

Make a table with your results. It should looks like table on pp. 39 on the same book
as previous task.

In [17]:
operations = {
    'deque[0]': 'dq[0]',
    'deque[N-1]': 'dq[N-1]',
    'deque[int(N/2)]': 'dq[int(N/2)]',
}


results = {op: [] for op in operations}

for _ in size:
    for op, stmt in operations.items():
        dq_code = f'from collections import deque; N = {_}; dq = deque(range(N))'
        time = timeit.timeit(stmt=stmt, setup=dq_code, number=1000)
        time /= 1000 * 1e6
        results[op].append(time)

df_results = pd.DataFrame(results, index=[_  for _ in size])

df_transposed = df_results.T

df_transposed

                        10000         20000         30000
deque[0]         3.560000e-14  3.280000e-14  3.580000e-14
deque[N-1]       5.570000e-14  5.030000e-14  5.630000e-14
deque[int(N/2)]  2.699000e-13  4.073000e-13  5.246000e-13